@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 13vh;
    margin: 0 5%;
}

.itera > img {
    width: 250px;
    float: left;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

.main {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10%;
    letter-spacing: 1px;
}
.main h1 {
    font-size: clamp(5vh, 4rem, 15vw);
    font-weight: bold;
    color: white;
}
.main h2 {
    padding-top: 2vw;
    font-size: clamp(19px, 10vh, 25px);
    font-weight: normal;
    color: white;
}

.wrapper-navbar {
    height: 90%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: -12px;
}

.navbarw {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 13px 0px;
    margin-left: -15px;
}

.navbarw:hover {
    background-color: #dab033;
}

.content {
    margin-right: -9px;
    height: 87vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-left-radius: 12px;
}

@media screen and (max-width: 1024px) {
    .social {
        display: none;
    }

    .itera > img {
        float: left;
        width: 300px;
    }
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.menu {
    font-size: clamp(5vh, 4rem, 15vw);
}

footer {
    position: fixed;
    bottom: 0;
    width: auto;
}

.font-footer {
    font-family: "Roboto", sans-serif;
    font-size: 10pt;
    font-weight: normal;
}
