.title-header {
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 35px;
    margin-left: 80px;
    word-wrap: break-word;
}

.line {
    height: 4px;
    width: 104px;
    background-color: #daaf33;
    margin-left: 90px;
}

h3 {
    font-family: "Questrial", sans-serif;
    font-size: 15px;
    color: black;
}
