.title-header {
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 35px;
    margin-left: 80px;
    word-wrap: break-word;
}

.line {
    height: 4px;
    width: 104px;
    background-color: #daaf33;
    margin-left: 90px;
}

h3 {
    font-family: "Questrial", sans-serif;
    font-size: 15px;
    color: black;
    margin-left: 80px;
}

.ul-matkul {
    list-style-type: none;
}

a {
    color: red;
    font-family: "Questrial", sans-serif;
    font-size: 15px;
    text-decoration: underline;
}

a:hover {
    color: rgb(133, 14, 14);
}

.card {
    height: 50vh;
    width: 50%;
}

.row-2 {
    margin-top: 8%;
}

li {
    margin-top: .4rem;
}

@media screen and (max-width:576px) {
    .card {
        height: 40vh;
        width: 75%;
    }
}